*.idea*
.pyc
__pycache__
.ipynb_checkpoints
*.pytest_cache/
*.db
/notebooks/Starbucks_all_code.ipynb
/notebooks/Starbucks_segmentation.ipynb
/notebooks/Why-sigmoid.ipynb
/notebooks/XGBoost-Implementation.ipynb
/notebooks/Starbucks_all_focalloss.ipynb
/notebooks/Model_Tuning.ipynb
requirements2.txt
